@charset "utf-8";
@import url("reset.css");

body {
  font-family: "游ゴシック", "Yu Gothic", sans-serif;
  background-color: #eee;
  font-size: 16px;
  line-height: 1;
}

h1 {
  font-size: 2rem;
  margin-bottom: 30px;
}

h2,
h3,
p {
  margin-bottom: 20px;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

p,
ul {
  font-size: 1rem;
  line-height: 1.5;
}


li {
  margin-bottom: 10px;
}

a {
  color: #4ecdc4;
  font-weight: bold;
  text-decoration: none;
}

header,
main > section,
footer {
  padding: 30px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

header,
.wrapper {
  width: 1080px;
  margin: 0 auto;
}

main,
aside {
  overflow: hidden;
  border-radius: 10px;
}

main {
  width: 75%;
}

aside {
  width: 24%;
  margin-right: 10px;
}

aside h2 {
  background-color: #bbb;
}

aside ul {
  padding: 0 20px 40px;
}

footer {
  width: 1080px;
}

main > section:not(:last-of-type) {
  border-bottom: 2px solid #eee;
}

article {
  background-color: #ffe66d;
  display: inline-block;
  height: 100px;
  margin-right: 30px;
  padding: 20px;
  width: 200px;
  vertical-align: middle;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
  zoom: 1;
}


/*---------------------------

ここからが練習問題！

----------------------------*/

/*---------------------------
(1)
asideタグ内のh2タグと
asideタグ内のh3タグを
font-size:1.2rem
heightとline-heightを40px
padding 0 20pxに変更

使用セレクタ「 」「,」
----------------------------*/
aside h2,aside h3 {
font-size:1.2rem;
height:40px;
line-height: 40px;
padding: 0 20px;
}

/*---------------------------
(2)
h1タグの隣（同じ階層のひとつ後ろ）にあるpタグをmargin-bottom:0に

使用セレクタ「+」
----------------------------*/
h1 + p {
  margin-bottom:0;
}

/*---------------------------
(3)
asideタグ及び、
asideタグと同じ階層かつ後ろにあるすべてのタグの
背景色を白に変更
＊ただしfooterは除く

使用セレクタ「,」「~」「*」「:not()」
----------------------------*/
aside,
aside ~ *:not(footer) {
  background: #fff;
}

/*---------------------------
(4)
mainタグ直下の
sectionタグの子要素のうち、
最初のarticleタグを
背景色：#4ecdc4青に変更

使用セレクタ「>」「 」「:first-of-type」
----------------------------*/
main > section article:first-of-type {
background: #4ecdc4;
}

/*---------------------------
(5)
mainタグ直下の
sectionタグの子要素のうち、
最後のarticleタグを
背景色：#ff6b6bに変更

使用セレクタ「>」「 」「:last-of-type」
----------------------------*/
main > section article:last-of-type {
  background: #ff6b6b;
}

/*---------------------------
(6)
mainタグ直下の
section2にある奇数番目のarticleタグと
section3にある偶数番目のarticleタグを
太字＆文字色:白　に変更

使用セレクタ「,」「:nth-of-type(n)及び(odd)(even)」
----------------------------*/
main > section:nth-of-type(2) article:nth-of-type(odd), main > section:nth-of-type(3) article:nth-of-type(even) {
color: #fff;
}

/*---------------------------
(7)
section1以外のarticleタグをすべてdisplay:blockにする
（一旦、section2-4のarticleは縦並びになる）

使用セレクタ 「>」「:not」「:first-of-type」
----------------------------*/
main > section:not(:first-of-type) article {
  display: block;
}

/*---------------------------
(8)
section2のarticleタグを
floatを使って横並びレイアウト

＊.cf（上記）を使用すること
----------------------------*/
main > section:nth-of-type(2) article {
  float: left;
}
main > section:nth-of-type(2){
  height: 210px;
}

/*---------------------------
(9)
section3のarticleタグを
絶対配置で横並びレイアウト
（floatは使わない。section3の高さをheight:210pxに設定）
----------------------------*/
main > section:nth-of-type(3) {
  position: relative;
  height: 210px;
}

main > section:nth-of-type(3) article {
  position: absolute;
  bottom: 30px;
  margin: 0;
}

main > section:nth-of-type(3) article:nth-of-type(2) {
  left: 260px;
}

main > section:nth-of-type(3) article:nth-of-type(3) {
  left: 490px;
}

/*---------------------------
(10)
section4内のdivタグをdisplay:flexにして
articleタグを横並びレイアウト
----------------------------*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

/*---------------------------
(11)
section5内のdivタグに
疑似要素（::before,::after）を指定して
3つ横並びレイアウト

★articleにdisplay:inline-blockとvertical-align指定

★疑似要素のcssは
・display:inline-block使用
・width、height、marginはarticleに合わせる
・背景色は好きな色を指定してください。
----------------------------*/
main > section:last-of-type article {
  display: inline-block;
  vertical-align: top;
}
main > section:last-of-type div {
  font-size: 0;
}

main > section:last-of-type div::before,
main > section:last-of-type div::after {
  content: "";
  background-color: #ff6b6b;
  display: inline-block;
  height: 100px;
  margin-right: 30px;
  width: 200px;
}

/*----------------------------
(12)
head内でfontawesome（free）を読込（https://fontawesome.com/start）し、
asideタグ内のliタグに::beforeでfont-awesomeの好きなアイコンを指定
----------------------------*/
aside li:before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  padding-right: 5px;
  /*文字との隙間*/
  color: #f89174;
  /*アイコンの色*/
}
